.comment{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(11, 134, 113);
    width: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: aquamarine;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 10px 10px 10px rgba(54, 201, 198, 0.3);
    
}