.Ticket{
    border: 2px solid black;
    background-color: blueviolet;
    border-radius: 10px ;
    width: 200px;
    text-align: center;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
     font-weight: bolder;
}
p{
    font-size: 33px;
    color: white;
    font-weight: bolder;
}